@import "tailwindcss";

@theme {
    --breakpoint-2xs: 340px;
    --breakpoint-xxs: 345px;
    --breakpoint-xs: 768px;
    --breakpoint-s: 1024px;
    --breakpoint-m: 1280px;
  }

header{
    font-family: "Manrope",sans-serif;
}

body{
  font-family: "Inter", Helvetica, sans-serif;
}

.dropdowns::-webkit-scrollbar {
    width: 5px; 
  }
  
  .dropdowns::-webkit-scrollbar-track {
    background: rgb(226, 232, 240); 
  }
  
  .dropdowns::-webkit-scrollbar-thumb {
    border-radius: 6px; 
    background: rgb(162, 113, 242);
  }
  
  .dropdowns::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
  }


.switch{
  display: flex;
  max-height: 498px;
}

.opensb{
  display: flex;
}

.no-scroll {
  overflow: hidden;
}

.move{
  top:30px;
  transition:1s ease;
  opacity: 1;
}
